h1 {
  margin-top: 50px;
}

a.resumeButton {
  display: inline-block;
  padding: 10px 18px;
  background: #41a2c8;
  color: rgb(255, 255, 255); /* textcolor*/
  border-radius: 6px; /* rounded corners*/
  text-decoration: none; /*removes underline*/
  font-weight: bold; /*make text bold*/
  margin: 20px auto;
}

body {
  background-color: rgb(255, 255, 255);
}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a.resumeButton:hover {
  background: #457da0;
  font-family: Arial, Helvetica, sans-serif;
}

/*.myname {
  background-color: rgba(0, 0, 0, 0.182);
  padding: 0.25rem 0.5rem;
  display: inline-block; /*Set to content width
  border-radius: 3px;
  border-width: 10px;
}
  */

/* center just the name heading */
.myname {
  font-weight: normal;
  font-size: 2.8rem;
  margin: 0;
}

.selfie {
  width: 150px;
  height: auto;
  border-radius: 80px;
}

html {
  scroll-behavior: smooth;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  padding: 15px;
  margin: 20px auto;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile_school {
  margin: 5px 0 0;
  font-size: 1.1rem;
  color: #176d8f;
  text-align: center;
}

.profile_major {
  margin: 8px;
  font-style: italic;
  font-size: 0.8rem;
  color: #000000;
  text-align: center;
}

/* Timelines from W3Schools */

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(0, 55, 97);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(0, 55, 97);
  top: 15px;
  border-radius: 30%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 10px 20px;
  background-color: rgb(178, 219, 255);
  position: relative;
  border-radius: 6px;
  font-size: 10px;
}

.education {
  padding: 10px 20px;
  background-color: rgb(184, 178, 255);
  position: relative;
  border-radius: 6px;
  font-size: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  */

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
